* {
    box-sizing: border-box;
}


body {
    margin: 0;
    /* padding: 0 0 0 6rem; */
    padding: 0;
    background-color: black;
    color: white;
    /* justify-content: center;
    align-items: center; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: fit-content;
    height: 100%;
}

/* .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    border: blueviolet;
    border-style: dotted;
    z-index: 1000;
    width: 80%;
    max-width: 300px;
} */

/* .popup button {
    margin-top: 10px;
    padding: 5px 10px;
    background: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px
}

@media (max-width: 360px) {
    .popup {
        display: block;
    }
} */

.container {
    width: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}


.introtext {
    justify-content: center;
    align-items: center;
    /* height: 35%; */
    height: fit-content;
    margin-top: 100px;
    margin-left: 200px;
    padding: 10px 20px 0 20px;
    color: aquamarine;
    border-style: dotted;
}

.acknowledgments {
    justify-content: center;
    align-items: center;
    /* height: 17%; */
    height: fit-content;
    margin-top: 570px;
    padding: 10px 20px 10px 20px;
    color: aquamarine;
    border-style: dotted;
}

.index {
    justify-content: center;
    align-items: center;
    /* height: 50vh; */
    height: fit-content;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px 20px 10px 20px;
    color: aquamarine;
    border-style: dotted;
}

.bedroom {
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
    position: relative; /* Ensures child elements with position: absolute are relative to this container */

    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    line-height: 1;
    white-space: pre;
    text-align: left;
    overflow: hidden;   
}

#book-ascii {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}


#seoul-ascii {
    min-width: 500px;
    max-width: 1000px;
}

#fullerton-ascii {
    min-width: 800px;
    max-width: 1000px;
}

#yorbalinda-ascii {
    min-width: 800px;
    max-width: 1000px;
}

#pomona-ascii {
    min-width: 800px;
    max-width: 1000px;
}


#copenhagen-ascii {
    min-width: 900px;
    max-width: 1000px;
}

#online-ascii {
    min-width: 600px;
    max-width: 1000px;
}

#sanfrancisco-ascii {
    min-width: 600px;
    max-width: 1000px;
}


.koreanfont {
  font-family: "Edu AU VIC WA NT Guides", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #7ae7c7;
  cursor: pointer;
}
 
/* Images inside ASCII art container */
 .bedroom img {
    display: none;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    /* max-width: 100%;
    max-height: 100%; */
    width: 550px; /* Set the fixed width */
    height: 550px; /* Set the fixed height */
    object-fit: contain; /* Ensures the image fits within the dimensions without distortion */
    filter: drop-shadow(0 0 1rem #7ae7c7);
    
  }



/* Wraps the button & text together in a vertical stack */
.diary {
    display: flex;
    flex-direction: column; /* Ensures button and text are stacked */
    align-items: start; /* Aligns everything to the left */
    width: 400px; /* Ensures both button and text box have the same width */
    height: 600px;
    line-height: 1.5;
    text-wrap: wrap;
}

/* Button styling */
.collapse {
    height: 60px;
    margin-top: 100px;
    width: 100%; /* Matches the parent .diary width */
    background-color: black;
    color: white;
    border-style: dotted;
    border-color: blueviolet;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    text-align: left;
    cursor: pointer;
    display: block;
}

/* Button color change on hover */
.collapse:hover {
    background-color: blueviolet;
    color: white;
}

/* Button color change when text box is expanded */
.collapse.active {
    background-color: blueviolet; /* Different color when active */
    color: white;
}

/* Hidden text initially */
.text {
    background-color: black;
    color: white;
    border-style: dotted;
    border-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    text-align: left;
    display: none;
    padding: 0;
    /* opacity: 0;  */
    cursor: default; 
    /* transition: max-height 0.3s ease-out, opacity 0.3s ease-in-out; */
    overflow: hidden; /* Prevents content from appearing before expand */
}

/* When text is shown */
.text.show {
    /* opacity: 1; */
    display: block;
    padding: 15px;
    overflow: auto; /* Enables scrolling when content exceeds height */
}


.koreanfont {
    font-family: "Edu AU VIC WA NT Guides", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #7ae7c7;
    cursor: pointer;
  }
   
  /* Images inside ASCII art container */
   .bedroom img {
      display: none;
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
      /* max-width: 100%;
      max-height: 100%; */
      width: 550px; /* Set the fixed width */
      height: 550px; /* Set the fixed height */
      object-fit: contain; /* Ensures the image fits within the dimensions without distortion */
      filter: drop-shadow(0 0 1rem #7ae7c7);
      
    }

    a {
        cursor: pointer;
        border-bottom: 1px dotted white;
        text-decoration: none;
        color: aquamarine;

    }

    /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px blueviolet; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: blueviolet; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: blueviolet; 
  }

/* Handle on hover */
  @media (max-width: 430px) {
    .diary {
        width: 350px;
    }
}

.suggestion-container {
    display: none;
}


@media (max-width: 560px) {
.suggestion-container {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggestion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 24px;
    color: #7ae7c7;
    border: 1px dotted #7ae7c7;
    text-align: center;
}

.suggestion p{
    /* width: 100%;
    height: 100%; */
    white-space: normal;
    font-size: 16px;
}
}